[model]
name = "dense_stacked_fashionmnist"
architecture = "dense_stack"
seed = 42
[model.seq]
skip_first = 2

# Layer 1: 784 -> 256 features
[[layers]]
[layers.config] 
n_input_features = 28
n_features = 256
init_scale_f = 1.0
type = "dense"
[layers.hyperparams]
gamma_f = 0.5
gamma_l = 0.7
p_target = 0.05
momentum = 0.95
lr = 0.01
[[layers]]
[layers.config] 
n_input_features = 256
n_features = 256
init_scale_f = 1.0
type = "dense"
[layers.hyperparams]
gamma_f = 0.7
gamma_l = 0.8
p_target = 0.1
momentum = 0.95
lr = 0.01


[training]
save = true
epochs = 50
batch_size = 128
shuffle = true
seed = 42
skip_first = 5
checkpoint_interval = 1
checkpoint_max_to_keep = 10
eval_interval = 50

[validation]
split = 0.1
batch_size = 128
interval = 20

[dataset]
[dataset.kwargs]
# num_steps = 40
# max_rate = 0.5

[logging]
log_dir = "./logs"
log_interval = 10
save_activations = true